<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
     <script src="{{path}}static/js/Chart.js"></script>
    <link rel="shortcut icon" href="./ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{{path}}static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{path}}static/css/add.css"/>
    
    <!-- Custom styles for this template -->
    <!-- <link href="offcanvas.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<!-- head -->

  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="https://github.com/taizilongxu"><img src="{{path}}static/img/source/github-32-beta.png" height="20" width="20"></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block nav%}{% endblock%}         
          </ul>
        
        <!-- blog search -->
<!--         <div class="navbar-collapse in" style="height: auto;">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text"  class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div> -->

        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-9">
          {% block number %}{% endblock %}
          {% block blogtitle %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
       

{% block bar %}
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" role="navigation">




            <div class="list-group">
            {% for i,j,k in tags3 %}
            <a href="#" class="list-group-item"><span class="badge">{{j}}</span><span class="label label-{{k}}">{{i}}</span></a>
            {% endfor %}
            </div>




        </div><!-- /list-group -->
{% endblock %}
        
        
 {% block blog %}{% endblock %}

<div class="col-lg-9">
<hr>
 <p align="center"><a href=""#>Bacnk to top</a></p>
 </div>
      </div><!--/row-->


    </div><!--/.container-->
      
     


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{path}}static/js/bootstrap.min.js"></script>
    <!-- highlight.js -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>

    <!--<script src="offcanvas.js"></script>-->
  </body>

<!-- body -->

</html>
